---

import NavBar from "../components/NavBar.astro";
import HeroWork from "../layouts/HeroWork.astro";
import "../stylesheet/global.css";
import HeroPrice from "../layouts/HeroPrice.astro";

import { getFirstBlogPost } from "../../lib/api";

const posts = await getFirstBlogPost();
const heroTitle = posts[0].title;
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Area</title>
</head>
<body>
<h1 style="color: #fff ">{heroTitle}</h1>
<NavBar/>
<section>
    <HeroWork />
</section>
<section>
    <HeroPrice/>
</section>
</body>
</html>