---
import "../stylesheet/global.css";
---
<nav>
<span class="logo_text">
    Hunter
</span>
    <div class="toggle_wrapper">
        <div class="toggle">
            Dark
        </div>
    </div>
</nav>

<style>
    nav {
        height: fit-content !important;
        background-color: var(--black);
        color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .logo_text {
        font-size: var(--normal);
        font-weight: bold;
    }
/*
    .toggle_wrapper {
        border: 1px solid var(--black);
        height: 60px;
        background-color: var(--light_gray);
        width: 170px;
        border-radius: 40px;
        padding: 4px;
        display: flex;

    }

    .toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        width: 83px;
        background-color: var(--orange);
        border-radius: 36px;
        padding-right: 10px;
        padding-left: 10px;

    }*/
</style>