<div class="price-card">
    <div class="price-wrapper">
        <span class="title"></span>
        <span class="price">Ksh 10,000</span>
    </div>
    <div class="services-wrapper">

    </div>
</div>